{% extends 'layout.html' %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Step 2: Calculation Type</div>
                    <div class="card-body">
                        <form class="form-inline" method="POST" action="{{ url_for('step3') }}">
                        <div class="row">

                            <div class="col-md-5">
                                <button name="fifo" type="button" class="btn btn-primary" data-toggle="toggle" value="FIFO">
                                    FIFO Calculation

                                </button>
                            </div>

                            <div class="col-md-4">

                                        <span class="caret"></span>
                                         <select name="year_select" class="selectpicker form-control">
                                    {% for o in taxyears %}
                                             <option value="{{ o.year }}">{{ o.year }}</option>
                                {% endfor %}
                                </select>

                            </div>

                            <div class="col-md-3" align="right">
                            <button name="lifo" type="button" class="btn btn-primary" data-toggle="toggle" value="LIFO">
                                LIFO Calculation
                            </button>
                            </div>
                        </div>
                    <div class="row">
                            <div class="col-md-4"><p>Under FIFO the assumption is that the oldest inventory is used first.
                                (In many businesses that is in fact what happens, regardless of the accounting method.)
                                As a result, the ending inventory is valued on your balance sheet at a cost closest to
                                the current cost since prices tend increase over time.</p>
                            </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4" align="left">
                            <p>If a company that sells products (retailer, manufacturer, etc.) finds the cost of its items
                                increasing, the use of LIFO will result in less taxable income and less income tax payments
                                than FIFO. Over a long period of time, or when costs increase dramatically, the lower income
                                tax payments will be significant.</p>
                        </div>
                     </div>
                            <div class="row"><div align="center"><button type="submit" class="btn btn-primary">Continue</button></div></div>
                            </form>
                </div>
            </div>

        </div>
    </div>


{% endblock %}