{% extends 'layout.html' %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-sm-12">
                <div class="card" style="margin-top:20%;">
                    <div class="card-header">Step 2: Calculation Type</div>
                    <div class="card-body">
                        <form class="form-inline" method="POST" action="{{ url_for('step3') }}">
                        <div class="row">



                            <div class="col-md-6">

                                        <span class="caret"></span>
                                        <label for="year_select">Select Year:</label>
                                         <select style="margin-left:25%;" name="year_select" class="selectpicker form-control">
                                    {% for o in taxyears %}
                                             <option value="{{ o.year }}">{{ o.year }}</option>
                                {% endfor %}
                                </select>

                            </div>

                            <div class="col-md-3" align="right">
                            <button name="lifo" type="button" class="btn btn-primary" data-toggle="toggle" value="LIFO">
                                LIFO Calculation
                            </button>
                                  <button name="fifo" type="button" class="btn btn-primary" data-toggle="toggle" value="FIFO">
                                    FIFO Calculation

                                </button>
                            </div>
                        </div>
                    <div class="row">
                            <div class="col-md-4">
                            </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4" align="left">

                        </div>
                     </div>
                            <div class="row"><div align="center"><button type="submit" class="btn btn-primary">Continue</button></div></div>
                            </form>
                </div>
            </div>

        </div>
    </div>


{% endblock %}