{% extends 'layout.html' %}

{% block content %}
    <div class="content">

        <div class="row">

            <div class="col-md-3"></div>

            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">Step 1: CSV File Upload</div>
                    <div class="card-body">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <!-- Standard Form -->
                                <h4>Select files from your computer</h4>
                                <form action="{{url_for('step1')}}" method="POST" enctype="multipart/form-data" id="js-upload-form">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input id="fileUpload" type="file" name="files" id="js-upload-files" multiple>
                                        </div>
                                        <!--<input value="Upload files" type="submit" class="btn btn-sm btn-primary"/>-->
                                         <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">
                                            Upload files
                                        </button>
                                    </div>
                                </form>

                                <!-- Drop Zone -->
                                <h4>Or drag and drop files below</h4>
                                <div class="upload-drop-zone" id="drop-zone">
                                    Just drag and drop files here
                                </div>
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3">
                                        <form class="form-group" action="{{url_for('download')}}" method="GET" enctype="multipart/form-data">
                                            <input id="downloadBtn" class="btn btn-primary" value="Download 8949" type="submit" />
                                        </form>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                          <form class="form-group" action="{{url_for('download2')}}" method="GET" enctype="multipart/form-data">
                                    <input id="downloadBtn2" class="btn btn-primary" value="Download 1099-K" type="submit" />
                                    </form>
                                    </div>


                                </div>
                                <p>&nbsp;</p>
                                <!-- Progress Bar -->
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>

                                <!-- Upload Finished -->
                                <div class="js-upload-finished">
                                    <h3>Uploaded files</h3>
                                    <div class="list-group">
                                         {% for l in list %}
                                            <div style="overflow-y:auto;" class="list-group-item list-group-item-success" >
                                            {{ l|safe }} <span class="badge alert-success pull-right">Success</span>
                                            </div>
                                         {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                <p>&nbsp;</p>
                       <div align="center">
        <a href="/step2"><button class="btn btn-primary">Process</button></a>
        </div>
                <p>&nbsp;</p>

                </div>

            </div>

        </div>
        <p>&nbsp;</p>
    <div align="center">

    </div>
    </div>
{% endblock %}